<article class="order-item">
  
  <section class="order-details">
    <ul>
      <% for (const item of order.productData.items) { %>
        <li><%= item.product.title %> - $ <%= item.totalPrice.toFixed(2) %> ($ <%= item.product.price.toFixed(2) %> x <%= item.quantity %>)</li>
      <% } %>
    </ul>
    <%= order.status %> 
    <h2><span class="order-item-price">Total Price : $ <%= order.productData.totalPrice.toFixed(2) %></span> </h2>
  </section>


  <% if (locals.isAdmin) { %>
   <h1>Client: <%= order.userData.name %> </h1> 
      <form>
        <select name="status">
          <option value="pending" <% if (order.status === 'pending') { %>selected<% } %>>PENDING</option>
          <option value="fulfilled" <% if (order.status === 'fulfilled') { %>selected<% } %>>FULFILLED</option>
          <option value="cancelled" <% if (order.status === 'cancelled') { %>selected<% } %>>CANCELLED</option>
        </select>
        <button class="btn">Update</button>
      </form>

  <% } %>


</article>