<article class="order-item">

  <section class="order-details">
    <ul>
      <% for (const item of order.productData.items) { %>
        <li><%= item.product.title %> - $ <%= item.totalPrice.toFixed(2) %> ($ <%= item.product.price.toFixed(2) %> x <%= item.quantity %>)</li>
      <% } %>
    </ul>
    <p>Status: <span class="order-status"> <%= order.status %> </span></p> 
    <h2><span class="order-item-price">Total Price : $ <%= order.productData.totalPrice.toFixed(2) %></span> </h2>
  </section>

</article>