<article>
  <div>
    <h2><%= product.title %></h2>
    <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
    <h2><%= product.summary %></h2>
    <h2><%= product.price %></h2>
    <h2><%= product.description %></h2>
    <div>
      <a class="btn" href="/admin/products/<%=product.id %>">View Details</a>
      <button class="btn">Delete</button>
    </div>
  </div>
</article>