<article class="product-item">
  <img class="product-img" src="<%= product.imageUrl %>" alt="<%= product.title %>">
  <div class="product-item-content">
    <h2 class="product-title"><%= product.title %></h2>
    <h2><%= product.summary %></h2>
    <h2 class="price">R$ <%= product.price %></h2>
    <h2 class="style-description"><%= product.description %></h2>
    <% if (locals.isAuth && locals.isAdmin) { %>
    <div class="product-item-actions">
      <a class="btn" href="/admin/products/<%=product.id %>">View Details</a>
      <button
        class="btn btn-alt button-delete"
        data-productid="<%= product.id %>"
        data-csrf="<%= locals.csrfToken %>"
      >
        Delete
      </button>
    </div>
    <% } %>
    <button
      class="btn cart"
      data-productid="<%= product.id %>"
      data-csrf="<%= locals.csrfToken %>"
    >
      Add to cart
    </button>
  </div>
</article>
