<%- include('../../shared/includes/head', { pageTitle: 'Cart' }) %>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Cart</h1>
    <section>
      <h2> Products</h2>
      <%= product.title %>
      <%= product.price %>  
    </section>
  </main>
<%- include('../../shared/includes/footer') %>